@import "_variable";


html,
body {
    width: 100%;
    height: max-content;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: $BITgray;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

#page_wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#page_topbar {
    top: 50px;
    position: sticky;
    z-index: 300;
}

#page_logo {
    display: block;
    left: 50px;
    position: absolute;
    height: 80px;
    z-index: -1;
}

#wavify_footer {
    top: 5px;
    position: relative;
    margin: 0;
    height: 250px;
    width: 100%;
}

footer {
    width: 100%;
}

#wavify_footer {
    margin: 0;
    padding: 0;
}

#footer-desktop {
    background-color:$BITtertiary;
}

.footer-wrap {
    display: flex;
    justify-content: center;
}

.inner-wrap {
    width: 100%;
    max-width: 1600px;
    margin: 0 30px 0 15px;
}

#section_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

#section_footer_logo {
    margin: 0 0 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    height: 100%;
}

#content_footer_logo {
    width: 170px;
    height: 55px;
    pointer-events: none;
    user-select: none;
}

#content_footer_logotext {
    margin: 5px 0 0 20px;
    font-family: "Lato", sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    color: #eeeeee;
}

#section_footer_links {
    display: flex;
    flex-basis: 70%;
    align-items: flex-start;
    justify-content: space-between;
}

.section-content-links {
    margin: 0 15px 0 15px;
}

.content-footer-title {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: capitalize;
    color: #7289da;
}

.content-footer-list {
    padding: 0;
    list-style-type: none;
}

.content-footer-link {
    margin: 10px 0 10px 0;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 400;
    text-transform: capitalize;
    color: #eeeeee;
    cursor: pointer;
    text-decoration: none;

    &:hover {
        color: #b0aeae;
    }
}

.shaking-animation:hover {
    color: #f04747;
    animation: delete-account-warning 0.5s;
    animation-iteration-count: infinite;
}

@keyframes delete-account-warning {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

#footer-mobile {
    display: none;
    background-color: #333782;
}

#section_footer-m {
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    width: 100%;
}

#section_footer_links-m {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
    width: 92%;
}

.section-content-links-m {
    width: 50%;
}

.section-footer-linksplit {
    display: flex;
    width: 100%;
}

.content-footer-link-m {
    margin: 10px 0 10px 0;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 400;
    text-transform: capitalize;
    color: #eeeeee;
    cursor: pointer;
    text-decoration: none;

    &:hover {
        color: #b0aeae;
    }
}

@media only screen and (max-width: 767px) {
    #footer-mobile {
        display: block;
    }

    #footer-desktop,
    #page_logo {
        display: none;
    }
}

@media only screen and (max-width: 1023px) {
    #footer-mobile {
        display: block;
    }

    #footer-desktop {
        display: none;
    }
}